<header>
	<md-nav-bar class="md-primary" nav-bar-aria-label="navigáció" md-selected-nav-item="currentNavItem" hide-xs md-no-ink-bar="true">
		<md-nav-item md-nav-href="#/" name="index">BreakDownn</md-nav-item>
		<md-nav-item md-nav-href="#profil" data-ng-if="user!=null">Profil</md-nav-item>
		<md-nav-item md-nav-href="#reg" ng-if="user==null">
			Regisztráció
		</md-nav-item>
		<md-nav-item md-nav-href="#login" ng-if="user==null">
			Bejelentkezés
		</md-nav-item>
		<md-nav-item md-nav-href="#comps">
			Versenyek
		</md-nav-item>
		<md-nav-item md-nav-href="#logout" data-ng-if="user!=null">
			Kijelentkezés
		</md-nav-item>
	</md-nav-bar>
	<div id="header" hide-gt-xs data-ng-controller="sideNavController">
		<md-button class="md-icon-button" aria-label="Settings" data-ng-click="toggleNav()">
          <md-icon md-svg-icon="resources/svg/menu.svg"></md-icon>
        </md-button>	
	</div>
	<md-sidenav class="md-sidenav-lefft" md-component-id="left" md-whiteframe="4">
				<md-menu-item layout="column">
					<md-button data-ng-href="#/">BreakDown</md-button>
					<md-button data-ng-href="#reg" data-ng-if="user==null">Regsiztráció</md-button>
					<md-button data-ng-href="#login" data-ng-if="user==null">Bejelentkezés</md-button>
					<md-button data-ng-href="#comps">Versenyek</md-button>
					<md-button>Keresés</md-button>
					<md-button>GYIK</md-button>
				</md-menu-item>
	</md-sidenav>
</header>