<div layout="column" layout-margin>
	<h1 class="md-display-1">Bejelentkezés</h1>
	<form name="login" data-ng-controller="loginController" data-ng-submit="submit(login)">
		<div layout="column" layout-align="center stretch">
			<md-input-container>
				<label>E-mail cím</label>
				<input type="text" data-ng-model="email" name="email" required>
				<div data-ng-messages="login.email.$error">
					<div data-ng-message="required">Adja meg a BBoy/Girl nevét!</div>
				</div>
			</md-input-container>
			<md-input-container>
				<label>Jelszó</label>
				<input type="password" data-ng-model="password" name="password" required>
				<div data-ng-messages="login.password.$error">
					<div data-ng-message="required">Adja meg a jelszavát!</div>
				</div>
			</md-input-container>
			<div md-colors="{color: 'warn'}"  data-ng-show="badData">Rossz email cím vagy jelszó!</div>
			<md-button class="md-primary" type="submit">Bejelentkezés</md-button>
		</div>
	</form>
</div>