<div layout="column" layout-margin data-ng-if="user.role=='ORGANIZER' || user.role=='ADMIN'">
	<div layout="column">
		<div layout-gt-sm="row">
			<form id="newComp" name="newComp" flex-gt-sm="70" layout-margin data-ng-submit="createComp(newComp)">
				<h2>Új verseny létrehozása</h2>
				<md-input-container class="md-block">
					<label>Verseny neve</label>
					<input type="text" data-ng-model="name" name="name" required>
					<div data-ng-messages="newComp.name.$error">
						<div data-ng-message="required">Verseny nevének megadása kötelező!</div>
					</div>
				</md-input-container>
				<md-input-container>
					<label>Időpont</label>
					<md-datepicker data-ng-model="compdate" md-min-date="today" name="compdate" required></md-datepicker>
					<div data-ng-messages="newComp.compdate.$error">
						<div data-ng-message="required">Kötelező megadni!</div>
						<div data-ng-message="mindate">Mai napnál korábbi dátumot nem lehet megadni!</div>
					</div>
				</md-input-container>
				<div layout-gt-sm="row" layout-sm="column" layout-xs="column">
					<md-input-container>
						<label>Irányítószám</label>
						<input type="text" data-ng-model="postalcode" name="postalcode" ng-pattern="/^[0-9]{4}$/" required>
						<div data-ng-messages="newComp.postalcode.$error">
							<div data-ng-message="required">Irányítószám megadása kötelező!</div>
							<div data-ng-message="pattern">4 jegyű számjegyből kell állnia!</div>
						</div>
					</md-input-container>
					<md-input-container>
						<label>Város</label>
						<input type="text" data-ng-model="city" name="city" required>
						<div data-ng-messages="newComp.city.$error">
							<div data-ng-message="required">Város megadása kötelező!</div>
						</div>
					</md-input-container>
					<md-input-container>
						<label>Utca</label>
						<input type="text" data-ng-model="street" name="street" required>
						<div data-ng-messages="newComp.street.$error">
							<div data-ng-message="required">Utcanév megadása kötelező!</div>
						</div>
					</md-input-container>
					<md-input-container>
						<label>Házszám</label>
						<input type="text" data-ng-model="housenumber" name="housenumber" data-ng-pattern="/^[0-9]+[a-zA-Z]?(-[0-9]+[a-zA-Z]?)*$/" required>
						<div data-ng-messages="newComp.housenumber.$error">
							<div data-ng-message="pattern">Helytelen formátum! (pl.: 10, 10A, 10A-11)</div>
						</div>
					</md-input-container>
				</div>
				<md-input-container class="md-block">
					<label>Rövid leírás</label>
					<textarea data-ng-model="description" md-maxlength="255" rows="5" name="description"></textarea>
					<div data-ng-messages="newComp.description.$error">
						<div data-ng-message="md-maxlength">Maximum 255 karakter hoszzú leírást adhat meg!</div>
					</div>
				</md-input-container>
				<md-chips data-ng-model="diskjockeys" name="diskjockeys" placeholder="Adja meg a DJ-ket..">
					<md-chip-template>
						<strong>{{$chip}}</strong>
					</md-chip-template>
				</md-chips>
			</form>
			<div layout="column" flex-gt-sm="30">
				<h2>Események hozzáadása</h2>
				<form name="eventForm" layout="column" data-ng-submit="submit(eventForm)">
					<md-input-container class="md-block">
						<label>Esemény név</label>
						<input type="text" required name="eventname" data-ng-model="eventname">
						<div data-ng-messages="eventForm.eventname.$error">
							<div data-ng-message="required">Kötelező megadni!</div>
						</div>
					</md-input-container>
					<div layout="column">
						<div layout="row">
							<h4 flex="33">Kezdés:</h4>
							<md-input-container flex="33">
								<label>Óra</label>
								<input type="number" max="23" min="0" name="startTimeHour" data-ng-model="startTimeHour" required>
								<div data-ng-messages="eventForm.startTimeHour.$error">
									<div data-ng-message="required">Kötelező megadni!</div>
									<div data-ng-message="min max">0-23!</div>
								</div>
							</md-input-container>
							<h4>:</h4>
							<md-input-container flex="33">
								<label>Perc</label>
								<input type="number" max="59" min="0" name="startTimeMinute" data-ng-model="startTimeMinute">
								<div data-ng-messages="eventForm.startTimeMinute.$error">
									<div data-ng-message="required">Kötelező megadni!</div>
									<div data-ng-message="min max">0-59!</div>
								</div>
							</md-input-container>
						</div>
						<div layout="row">
							<h4 flex="33">Befejezés:</h4>
							<md-input-container flex="33">
								<label>Óra</label>
								<input type="number" max="23" min="0" name="endTimeHour" data-ng-model="endTimeHour">
								<div data-ng-messages="eventForm.endTimeHour.$error">
									<div data-ng-message="required">Kötelező megadni!</div>
									<div data-ng-message="min max">0-23!</div>
								</div>
							</md-input-container>
							<h4>:</h4>
							<md-input-container flex=33>
								<label>Perc</label>
								<input type="number" max="59" min="0" name="endTimeMinute" data-ng-model="endTimeMinute">
								<div data-ng-messages="eventForm.endTimeMinute.$error">
									<div data-ng-message="required">Kötelező megadni!</div>
									<div data-ng-message="min max">0-59!</div>
								</div>
							</md-input-container>
						</div>
					</div>
					<md-input-container class="md-block">
						<label>Rövid leírás</label>
						<textarea data-ng-model="subeventd" md-maxlength="50" rows="3" name="subeventd" data-ng-model="subeventd"></textarea>
						<div data-ng-messages="eventForm.subeventd.$error">
							<div data-ng-message="md-maxlength">Maximum 50 karakternyi leírást adhat meg!</div>
						</div>
					</md-input-container>
					<md-input-container>
						<md-checkbox class="md-primary" data-ng-model="isbreak" name="isbreak">Verseny esemény (lesz nyertese is)</md-checkbox>
					</md-input-container>
					<div md-colors="{color: 'warn'}" data-ng-show="badTime">Egy esemény nem végződhet azelőtt hogy elkezdődne!</div>
					<md-button class="md-accent" type="submit">Esemény hozzáadása +</md-button>
				</form>
			</div>
		</div>
		<md-list layout-align="start stretch">
			<md-toolbar class="md-accent">
				<div class="md-toolbar-tools">
					Események
				</div>
			</md-toolbar>
			<md-list-item class="md-3-line" data-ng-repeat="x in events | orderBy : 'startTime'">
				<div class="md-list-item-text" layout="column">
	            	<h3>{{x.title}}</h3>
	            	<h4>{{x.startTime | date:'H:mm'}} - {{x.endTime | date : 'H:mm'}}</h4>
	            	<p>{{x.description}}</p>
	         	</div>
	         	<md-button class="md-secondary md-warn" data-ng-click="deleteEvent(x)">Törlés</md-button>
	         	<md-divider data-ng-if="!$last"></md-divider>
			</md-list-item>
			<p data-ng-show="events.length == 0">Nincs esemény hozzáadva</p>
		</md-list>
		<div md-colors="{color: 'warn'}" data-ng-show="badDate">
			Mai napnál korábbi dátumot nem lehet megadni!
		</div>
		<div md-colors="{color: 'warn'}" data-ng-show="noEvents">
			Muszáj eseményeket hozzáadnia!
		</div>
		<md-button class="md-primary" type="submit" form="newComp" >Verseny létrehozása</md-button>
	</div>
</div>
<div data-ng-if="user.role== 'USER'">
	Ön nem rendelkezik Szervezői jogosultsággal!
</div>